.simulation-container{
    margin: 20px;
    padding:10px;
    font-family:'Gothic A1', sans-serif;
    z-index:999;
    
    border-radius: 20px;
}
.simulation-heading{
    margin:5px;
    padding:5px;
    color: #80024a;
    font-family: 'Playwrite GB S', cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
.button-list{
    display: flex;
    flex-direction: column;
    gap: 3px; 
    height:550px; 
    overflow-y: scroll;
}
::-webkit-scrollbar{
    display:none;
}
#mapFrame{
    height: 550px; 
    width: 102%; 
    border-radius: 20px; 
    border: 1px solid maroon;
    background-color: rgba(255, 255, 255, 80%);
    
}
#navbarNav{
    color:black;
    font-family: "Lilita One", sans-serif;
  font-weight: 300;
  font-style: normal;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:20px;
}
#navbarNav .nav-link{
    /* margin:5px; */
    /* padding:5px; */
    color: #000080;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}
#navbarNav .nav-link:hover {
    /* margin:5px; */
    /* padding:5px; */
    color: crimson;
    font-weight: 1000;
    text-decoration: underline;
    animation: bounce 0.3s forwards;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}
