<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_44bb88dcb1eb2487655cc4f1d4c1fbc0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_44bb88dcb1eb2487655cc4f1d4c1fbc0" ></div>
        
</body>
<script>
    
    
            var map_44bb88dcb1eb2487655cc4f1d4c1fbc0 = L.map(
                "map_44bb88dcb1eb2487655cc4f1d4c1fbc0",
                {
                    center: [28.377999368477838, 76.96091538776506],
                    crs: L.CRS.EPSG3857,
                    zoom: 14.2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c52e57edcf718785aa7a1cecb3057a2e = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_c52e57edcf718785aa7a1cecb3057a2e.addTo(map_44bb88dcb1eb2487655cc4f1d4c1fbc0);
        
    
            var marker_e571ebb60ae268e909836ea0578af929 = L.marker(
                [28.357090000000003, 76.93855],
                {}
            ).addTo(map_44bb88dcb1eb2487655cc4f1d4c1fbc0);
        
    
            var icon_3032732e68902175ec6a50a52207f2ac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e571ebb60ae268e909836ea0578af929.setIcon(icon_3032732e68902175ec6a50a52207f2ac);
        
    
        var popup_b4f8763474de60f220a6c0392da37a2e = L.popup({"maxWidth": "100%"});

        
            
                var html_5e59dcf582daf647ba5ed0120353971c = $(`<div id="html_5e59dcf582daf647ba5ed0120353971c" style="width: 100.0%; height: 100.0%;">Start</div>`)[0];
                popup_b4f8763474de60f220a6c0392da37a2e.setContent(html_5e59dcf582daf647ba5ed0120353971c);
            
        

        marker_e571ebb60ae268e909836ea0578af929.bindPopup(popup_b4f8763474de60f220a6c0392da37a2e)
        ;

        
    
    
            var marker_98dd025d9f705e73ff6e478a34148f84 = L.marker(
                [28.374618304249985, 76.95245083216956],
                {}
            ).addTo(map_44bb88dcb1eb2487655cc4f1d4c1fbc0);
        
    
            var icon_4891905be1ec3c72195d3fa7c23b79ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_98dd025d9f705e73ff6e478a34148f84.setIcon(icon_4891905be1ec3c72195d3fa7c23b79ea);
        
    
        var popup_0b2c926da1ca1f5e77d977ddd0c31088 = L.popup({"maxWidth": "100%"});

        
            
                var html_afcf1ac4eb340f58f99066b0a7238374 = $(`<div id="html_afcf1ac4eb340f58f99066b0a7238374" style="width: 100.0%; height: 100.0%;">Start</div>`)[0];
                popup_0b2c926da1ca1f5e77d977ddd0c31088.setContent(html_afcf1ac4eb340f58f99066b0a7238374);
            
        

        marker_98dd025d9f705e73ff6e478a34148f84.bindPopup(popup_0b2c926da1ca1f5e77d977ddd0c31088)
        ;

        
    
    
            var marker_24feb73d88054c5f860e6a922ee2a899 = L.marker(
                [28.382600603605226, 76.96910623465669],
                {}
            ).addTo(map_44bb88dcb1eb2487655cc4f1d4c1fbc0);
        
    
            var icon_acbf1e8b948af90d67acd0e5e2404d40 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_24feb73d88054c5f860e6a922ee2a899.setIcon(icon_acbf1e8b948af90d67acd0e5e2404d40);
        
    
        var popup_0682b7c860311537dfa4a0fb6db1d108 = L.popup({"maxWidth": "100%"});

        
            
                var html_fb9797ad115cfa1e1f74c804550e8afc = $(`<div id="html_fb9797ad115cfa1e1f74c804550e8afc" style="width: 100.0%; height: 100.0%;">Start</div>`)[0];
                popup_0682b7c860311537dfa4a0fb6db1d108.setContent(html_fb9797ad115cfa1e1f74c804550e8afc);
            
        

        marker_24feb73d88054c5f860e6a922ee2a899.bindPopup(popup_0682b7c860311537dfa4a0fb6db1d108)
        ;

        
    
    
            var marker_915cc18fccf2b1960727ce0be49267ee = L.marker(
                [28.395860000000003, 76.98184],
                {}
            ).addTo(map_44bb88dcb1eb2487655cc4f1d4c1fbc0);
        
    
            var icon_4458a1e64d40b8a6391a1d85f49306b2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_915cc18fccf2b1960727ce0be49267ee.setIcon(icon_4458a1e64d40b8a6391a1d85f49306b2);
        
    
        var popup_3fdaa4ca1b680b99b7eab525033b445f = L.popup({"maxWidth": "100%"});

        
            
                var html_4be5bd52e577d62153ce6700fc374301 = $(`<div id="html_4be5bd52e577d62153ce6700fc374301" style="width: 100.0%; height: 100.0%;">End</div>`)[0];
                popup_3fdaa4ca1b680b99b7eab525033b445f.setContent(html_4be5bd52e577d62153ce6700fc374301);
            
        

        marker_915cc18fccf2b1960727ce0be49267ee.bindPopup(popup_3fdaa4ca1b680b99b7eab525033b445f)
        ;

        
    
    
            var marker_35935e4d5efe3c20a86aa07cdc91a410 = L.marker(
                [28.358050000000002, 76.93894],
                {}
            ).addTo(map_44bb88dcb1eb2487655cc4f1d4c1fbc0);
        
    
        var popup_d5f120c4934411b7423e77e51d1f6365 = L.popup({"maxWidth": "100%"});

        
            
                var html_945d56e24cac380a1c492205aa72cd27 = $(`<div id="html_945d56e24cac380a1c492205aa72cd27" style="width: 100.0%; height: 100.0%;">Vehicle WB 001 1234</div>`)[0];
                popup_d5f120c4934411b7423e77e51d1f6365.setContent(html_945d56e24cac380a1c492205aa72cd27);
            
        

        marker_35935e4d5efe3c20a86aa07cdc91a410.bindPopup(popup_d5f120c4934411b7423e77e51d1f6365)
        ;

        
    
    
            tile_layer_c52e57edcf718785aa7a1cecb3057a2e.addTo(map_44bb88dcb1eb2487655cc4f1d4c1fbc0);
        
</script>
</html>